<h1> Create new menu for {{restaurant_name}} </h1>
<form enctype="application/json" method="post">
    Menu Name: </br>
    <input type="text" name="menu_name"></br>
    Price: </br>
    <input type="number" name="menu_price"></br>
    Description: </br>
    <input type="text" name="menu_description"></br>
    <input type="submit" value="Create Menu!"></br>
</form>
