<form enctype="application/json">
    Restaurant Name: <br>
    <input type="text" name="restaurant_name"> <br>
    <input type="submit" value="create"> <br>
    {{#if post}}
        <h2>restaurant created </h2> 
    {{/if}}
</form>