<!--
<form enctype='application/json' method='post' action='/login' >
    <input type="text" size="40" placeholder="Type your email" name="email"><br />
    <input type="password" size="40" placeholder="Type your password" name="password"><br />
    <input type="submit" value="Submit" id="submit">
</form>
-->

 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  