<table style='width:50%'>
    <tr>
        <th>ID</th>
        <th>Restaurant Name</th>
        <th>Owner</th>
    </tr>
    {{#each list}}
        <tr>
            <th>{{id}}</th>
            <th>{{name}}</th>
            <th>{{owner}}</th>
        </tr>
    {{/each}}
</table>
